<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Belgrano&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption&display=swap" rel="stylesheet" />
    <link href="../css/macmain.css" rel="stylesheet" />
    
    <title>Taipei MRT Locker Service System</title>
    </head>
    <body>
        <div class = "container text-center ">
            <div class="row text-center-starts">
                <span class="text_p1">
                    TAIPEI MRT<br>LOCKER SERVICE SYSTEM
                </span>
                <button onclick = " window.location.href = 'http://127.0.0.1:5501/src/main/resources/templates/LoginPage.html'" 
                        type = "button" class="btn_p1 " aria-label="Close" style="background-color: transparent;" >
                    SIGN UP / LOGIN→   
                </button>
                
            </div>
            <div class="row text-center-end">
               <div class = "camera_p1"> </div>
               <div class = "locker_p1"> </div>
               <div class = "mrt_p1"> </div>
            </div>
            
        </div>
        <script src="../static/scripts.js"></script>

    </body>
</html>